@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Sahel;
  src: url("./font/sahel/Sahel.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url("./font/shabnam/Shabnam.ttf");
  font-weight: normal;
}